body {
    background-image: url(https://w0.peakpx.com/wallpaper/304/784/HD-wallpaper-avatar-scene-forest-widescreen-tree-moon-sun-view-nature-avatar.jpg);
    background-color: #0babf5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-size: cover; /* Changed background-size */
}

/* Rest of your CSS remains the same */


* {
    font-family: cursive;
    box-sizing: border-box;
}

form {
    width: 1000px;
    border: 3px solid rgb(32, 30, 30);
    padding: 20px;
    border-radius: 20px;
    margin-top: 5%;
    background: #000000ad;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    color: white;
}

input {
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    background: #fff; /* added background color */
    color: #333; /* added text color */
}

label {
    color: #888;
    font-size: 18px;
    padding: 10px;
}

button {
    float: right;
    background: rgb(35, 174, 202);
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    cursor: pointer; /* added cursor style */
}

button:hover {
    opacity: 0.9; /* adjusted opacity */
}

.error {
    background: #F2DEDE;
    color: #0c0101;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

h1 {
    text-align: center;
    color: rgb(134, 3, 3);
}

a {
    float: right;
    background: rgb(9, 206, 245);
    padding: 10px 15px;
    color: #fff;
    border-radius: 10px;
    margin-right: 10px;
    border: none;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}
.dl
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dl p
{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35%;
}